<div class="col-lg-6 mx-lg-auto">
  <!-- <div class="card shadow"> -->
    <div class="card-header">
      <!-- <div class="card-title"> -->
        <!-- <h2 class="text-primary pt-4">New Company</h2> -->
        <h2 class="text-primary text-center pt-5">Companies</h2>
      <!-- </div> -->
      <div class="card-body">
      </div>
      <div class="card-body">
        <% if user_signed_in? && current_user.role == 'recuiter' %>
         <%= link_to "New company", new_company_path %>
        <% end%>
        <p style="color: green"><%= notice %></p>
        <div id="companies">
          <% @companies.each do |company| %>
          <%= render company %>
          <% end %>
        </div>
      </div>
    </div>
  <!-- </div> -->
</div>
